$neutral-color-1: #FFFFFF;
$neutral-color-2: #94979A;
$neutral-color-3: #393D41;
$neutral-color-4: #2C2F33;
$neutral-color-5: #222528;
$primary-color-4: #DA584B;
$primary-color-5: #f35252;
$secondary-color-4: #70B252;
$tertiary-color-4: #E5B454;
$background: #E5E5E5;
$text-color-1: #aeb2b5;